<div class="cartBox mt-5">
  <h1>Shopping Cart</h1>
  <div class="headCart">
    <div class="row">
      <div class="col-md-6">
        <p>You Have <strong> 3 </strong> Item In Your Cart</p>
      </div>
      <div class="col-md-6 text-md-end">
        <span type="button" class="btn btn-outline-danger">Clear Shopping Cart</span>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col" style="width: 25%;">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of myProductStorage">
        <td><img src="{{item.item.image}}" alt="{{item.item.title}}"></td>
        <td>{{item.item.title}}</td>
        <td>{{item.item.price}} L.E</td>
        <td>
          <div class="quantity">
            <button class="btn btn-dark"> - </button>
            <input class="form-control" type="number" min="1" [(ngModel)]="item.quantity">
            <button class="btn btn-dark"> + </button>
          </div>
        </td>
        <td>{{item.item.price * item.quantity}} L.E</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total: 1500</th>
        <th><button class="btn btn-success">Order Now</button></th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert"> <strong> well done! </strong> Your Order Is Successfully Send</div>
