<div class="cartBox mt-5">
  <h1>{{'carts.shoppingCart' | translate}}</h1>
  <div class="headCart">
    <div class="row">
      <div class="col-md-6">
        <p>You Have <strong> {{myProductStorage.length}} </strong> Item In Your Cart</p>
      </div>
      <div class="col-md-6 clearCart" *ngIf="myProductStorage.length>0">
        <span type="button" class="btn btn-outline-danger" (click)="clearCart()">{{'carts.clrCart' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="myProductStorage.length>0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">{{'carts.name' | translate}}</th>
          <th scope="col">{{'carts.price' | translate}}</th>
          <th scope="col" style="width: 25%;">{{'carts.quantity' | translate}}</th>
          <th scope="col">{{'carts.total' | translate}}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of myProductStorage; let index=index">
          <td><img src="{{item.item.image}}" alt="{{item.item.title}}"></td>
          <td>{{item.item.title}}</td>
          <td>{{item.item.price}} {{'carts.LE' | translate}} </td>
          <td>
            <div class="quantity">
              <button class="btn btn-dark" (click)="minsAmount(index)"> - </button>
              <input class="form-control" type="number" min="1" (change)="detactChange()" [(ngModel)]="item.quantity">
              <button class="btn btn-dark" (click)="addAmount(index)"> + </button>
            </div>
          </td>
          <td>{{item.item.price * item.quantity}} {{'carts.LE' | translate}}</td>
          <td><button class="btn btn-danger" (click)="deleteItem(index)">{{'carts.delete' | translate}}</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{'carts.total' | translate}}: {{total | number: '.2'}} {{'carts.LE' | translate}} </th>
          <th class="text-center"><button class="btn btn-success" (click)="addCart()">{{'carts.ordrNow' | translate}}</button></th>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
<!-- <div class="alert alert-success" role="alert" *ngIf="success && myProductStorage.length>0"> <strong> well done! </strong> Your Order Is Successfully Send</div> -->
