nav{
  background-image: linear-gradient(to right, #892424 , #701313);
  color: #fff;
  a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  ul{
    // width: 25%;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    transform: translateY(25%);
    li{
      margin-left: 35px;
      font-size: 20px;
      cursor: pointer;
    }
  }
  select{
    display: inline-flex;
    width: 150px;
  }
}
