nav{
  background-image: linear-gradient(to right, #892424 , #701313);
  color: #fff;
  a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
  }
  select{
    display: inline-flex;
    width: 70px;
  }
}

