.details{
  width: 90%;
  margin: 100px auto;
  height: 500px;
  img{
    width: 100%;
    min-height: 500px;
    max-height: 500px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    li{
      font-size: 20px;
      margin: 10px 0;
      line-height: 25px;
      strong{
        color: brown;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .details .info{
    text-align: center;
    ul li strong{
      display: block;
    }
  }
  img{
    margin-bottom: 120px;
  }
}
