<div class="details mt-5" *ngIf="!loading">
  <div class="row">
    <div class="col-md-5" >
      <img src="{{data.image}}" alt="image" />
    </div>
    <div class="col-md-7" >
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>{{'details.title' | translate}}: </strong> {{data.title}}</li>
          <li><strong>{{'details.category' | translate}}:</strong> {{data.category}} </li>
          <li><strong>{{'details.description' | translate}}:</strong> {{data.description}} </li>
          <li><strong>{{'details.rate' | translate}}:</strong> {{data.rating.rate}} </li>
          <li><strong>{{'details.count' | translate}}:</strong> {{data.rating.count}} </li>
          <li><strong>{{'details.price' | translate}}:</strong> {{data.price}} LE</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="load-cont text-center mt-5" *ngIf="loading">
  <app-loading-page></app-loading-page>
</div>
