mat-card{
  border: 2px solid #f5f5f5;
  display: flex;
  position: relative;
  // justify-content: space-between;
  flex-direction: column;
  min-height: 395px;
}
// mat-card:hover{
//   transform: scale(1.1);
//   transition: all .3s;
// }
mat-card img {
  margin-top: 0;
  max-height: 140px;
  padding: 5px;
}
mat-card-header{
  height: 40px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #f5f5f5;
  padding: 0 7px;
  text-align: center;
  // margin-left: -16px;
  // margin-right: -16px;
}
mat-content{
  display: contents;
}
mat-card-content p {
  // font-size: 13px;
  // color: #5c5c5c;
  height: 80px;
  overflow: hidden;
  padding: 0 7px;
}
mat-card mat-card-actions{
  bottom: 4%;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
