<mat-card>
  <img mat-card-image src="{{productData.image}}" alt="card" routerLink="/details/{{productData.id}}">
  <mat-card-header routerLink="/details/{{productData.id}}">
    <mat-card-title>{{productData.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content routerLink="/details/{{productData.id}}">
    <p> {{productData.description}} </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!btnToggle" class="btn btn-primary" (click)="btnToggle= true" >{{'carts.addCart' | translate}}</button>
    <div class="d-flex w-50" *ngIf="btnToggle">
      <input type="number" class="form-control" [(ngModel)]="amount" min="1">
      <button class="btn btn-danger" (click)="addCard()">{{'carts.add' | translate}}</button>
    </div>
    <button mat-raised-button class="btn btn-secondary">{{productData.price}} {{'carts.LE' | translate}}</button>
  </mat-card-actions>
</mat-card>
